.event-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    background-color: #f8f8f8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card h2 {
    margin-top: 0;
}

.card p {
    margin-bottom: 10px;
}

.event-id {
    font-weight: bold;
}

.event-date {
    color: #000000;
}

.logout-link {
    color: black;
    text-decoration: none;
}

.logout-link:hover {
    text-decoration: underline;
}
